/*GENERAL FEATURES*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
  }
  
/*---------------------------------------------*/

.home{
    background: #000000;
    height: 95vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeTitle{
    color: #ffffff;
    opacity: .6;
    position: absolute;
    font-size: 7rem;    
}

#backgroundHome{
    width: 80%;
}

h1.homeTitle {
    animation: movimientoVertical 0.50s infinite;
}

@keyframes movimientoVertical {
    0% { transform: translateY(0) }
    25% { transform: translateY(5px) }
    50% { transform: translateY(-5px) }
    75% { transform: translateY(5px) }
    100% { transform: translateY(0) }
}


@media (max-width: 520px){
    .homeTitle{
        font-size: 5rem;
    }

    #backgroundHome{
        width: 100%;
    }
}
