/*GENERAL FEATURES*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
  }
  
/*---------------------------------------------*/

.Moonquakes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background: #000;
}

.apollo11Block, .apollo12Block, .apollo14Block, .apollo15Block, .apollo16Block{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 40%;
}

.subTable{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.subTable p{
 margin: .5rem 0rem;
}

.titleBox{
    display: flex;
    justify-content: center;
}

.apollo11Block{
    margin-top: 10rem;
}

