/*GENERAL FEATURES*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
  }
  
/*---------------------------------------------*/

.Download{
    height: 95vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #000;
}

.CenterBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.downloadTitleBox{
    display: flex;
    align-items: center;
}

#downloadTitle{
    margin-right: 4rem;
    font-size: 6rem;
}

a{
    text-decoration: none;
    color: #fff;
}

.appleButton, .microsoftButton, .linuxButton{
    display: flex;
    background: #272727;
    border-radius: 1.5rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.appleButton:active, .microsoftButton:active, .linuxButton:active{
    padding: 1.5rem;
    font-size: 1.4rem;
}

.appleButton img, .microsoftButton img, .linuxButton img{
    width: 5rem;
    margin-left: 3rem;
}

.Buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Buttons a{
    margin: 0rem 5rem;
}

.downloadTitleBox{
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

@media (max-width:999px){
    .appleButton, .microsoftButton, .linuxButton{
        margin: 2rem 0rem;
    }

    .downloadTitleBox{
        margin-top: 5rem;
    }

    #downloadTitle{
        font-size: 5rem;
    }

    .downloadTitleBox{
        margin-bottom: 5rem;
    }
}


